.container{
    width: 30rem;
    margin: auto;
    padding: 2rem;
    background-color: #252323;
    color: #eee;
    box-shadow: 0rem .8rem 2rem .1rem #0000004d;
    border-radius: .5rem;
}
.container h1{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
}